
.k-flex-20{
    flex: 1 1 20%;
}

.k-flex-30{
    flex: 1 1 30%;
}

.k-flex-70{
    flex: 1 1 70%;
}

.k-flex-80{
    flex: 1 1 80%;
}

.card-container{
    margin: 25px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background: white;
}

//Home Page

.home-page{
    
}




//Profile Page

.profile-page{
    .form-container{
        width: 640px; /* Can be in percentage also. */
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    } 
    
    .form-field{
        margin-top: 10px;
    }
}

// .upload-container{
//     .k-flex-20{
//         flex: 1 1 20%;
//     }

//     .k-flex-80{
//         flex: 1 1 80%;
//     }

    
// }


//Header
.header{
    .title{
        font-size: 20px;
        margin: 0;
    }
    .menu-icon{
        background: none;
        border: none;
    }
}

